deepspeed==0.16.2
ipfshttpclient==0.7.0
memray==1.15.0
pytest==8.3.4
ray==2.40.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tensorboardX
ray[air]
ray[tune]
tensorflow
dotenv
web3>=6.0.0
requests
tqdm
safetensors>=0.4.0
eth-account>=0.9.0
datasets>=2.0.0
transformers>=4.0.0